<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="username">User Name </label>
                        <input type="text" name="username" 
                        class="form-control" formControlName="username">
                        <span class="help-block" 
                        *ngIf="!userForm.get('userData.username').valid && userForm.get('userData.username').touched">Please enter a user name </span>
                    </div>
                    <div class="form-group">
                            <label for="email">Email </label>
                            <input type="text" name="email" class="form-control" formControlName="email">
                            <span class="help-block" 
                            *ngIf="!userForm.get('userData.email').valid && userForm.get('userData.email').touched">Please enter a valid email </span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                        <label> <input type="radio" [value]="gender" 
                            class="radio-elem" formControlName="gender">{{gender}}</label>
                       
                </div>
                <div formArrayName="skills">
                    <h4> Your Skills </h4>
                    <button class="btn btn-secondary" type="button"
                    (click)="addSkill()">Add Skill </button>
                    <div class="align-skill" *ngFor="let skillControl of userForm.get('skills').controls;
                    let i = index;">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>
                <div>
                <span class="help-block" 
                        *ngIf="!userForm.valid && userForm.touched">Please enter valid data </span>
                </div>
                <button class="btn btn-primary" 
                type="submit" [disabled]='!userForm.valid'> Submit </button>
            </form>
            <a class="nav-link active" routerLink="../orders">Orders</a>
        </div>
    </div>
</div>