
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Order List
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor = "let order of orderService.orders" >{{order.text}}</li>
    </ul>
  </div>
<hr>

<hr>

<app-simple-form *ngFor = "let order of orderService.orders" 
[orderInput]="order.text" (updateVal)="onUpdate(order.id, $event)" class="shadow-lg bg-white rounded"> </app-simple-form>
<div class="hook shadow-lg">
<input #firstName type="text" [value]="user.firstName">
<input #lastName type="text" [value]="user.lastName">
<button (click)="OnUserClick(firstName.value, lastName.value)"> Click me! </button>
<app-lifehook01 [cycleData]="user"> 
  <div #ccRef>
  <p> 
    Will inject through ng content init life cycle
  </p> 
</div>
</app-lifehook01>
</div>
















<!-- <app-lifehook [inputVal]='txtString' *ngIf=showChild>
  <div #contentRef>
  <p> Will include the content from here to the custom component lifecycle hook </p>
  <span> Will show the name here </span>
  </div>
</app-lifehook>
<button (click)="toggleLifecyle()">Toggle Lifehook! </button> -->

