<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 tab-style">
          <ul class="nav">
              <li class="nav-item" routerLinkActive = "my-active">
                <a class="nav-link" routerLink="/orders">Orders</a>
              </li>
              <li class="nav-item" routerLinkActive = "my-active">
                <a class="nav-link" routerLink="/template">Template Driven</a>
              </li>
              <li class="nav-item" routerLinkActive = "my-active">
                <a class="nav-link" routerLink="/reactive">Reactive Forms</a>
              </li>
            </ul>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8">
          <router-outlet></router-outlet>
      </div>
  </div>
