:host {
    display:flex;
    // flex-direction: column;
}

input:focus {
    font-weight: bold;
    outline: none;
}

.mousedown {
    border:2px solid green;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: yellow;
}

.strike {
    text-decoration: line-through;
}
