
    <span [ngClass]="cssClasses">{{orderInput}} </span>
    <input type="checkbox" (change)="onCheck($event)">
    <input #myInput 
    type="text" 
    [(ngModel)]="orderInput"
    [ngClass] = "{mousedown:isMousedown}"
    (mousedown) = "isMousedown = true"
    (mouseup) = "isMousedown = false"
    >
    <button (click)="onClick($event, myInput.value)" class="btn-primary"> Click Me! </button>


    <div *ngIf="show else onFalse"> Content to be shown when the condition is true </div>

    <ng-template #onFalse> 
        Nothing to Show
        
    </ng-template>